/* Page Background */

body{
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg,#667eea,#764ba2);
    margin:0;
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;
}


/* Card Container */

.container{
    background:white;
    padding:45px;
    border-radius:15px;
    width:420px;
    text-align:center;

    box-shadow:0 15px 40px rgba(0,0,0,0.3);
}


/* Title */

.title{
    margin-bottom:10px;
    color:#333;
}


/* Subtitle */

.subtitle{
    color:#777;
    margin-bottom:25px;
}


/* Input Groups */

.input-group{
    text-align:left;
    margin-bottom:18px;
}


/* Labels */

label{
    font-weight:600;
    display:block;
    margin-bottom:6px;
}


/* Inputs */

input,select{
    width:100%;
    padding:12px;
    border-radius:6px;
    border:1px solid #ccc;
    font-size:15px;
}


/* Start Button */

.start-btn{
    width:100%;
    margin-top:20px;
    padding:14px;
    border:none;
    border-radius:8px;

    background:linear-gradient(90deg,#ff512f,#dd2476);

    color:white;
    font-size:16px;
    font-weight:bold;

    cursor:pointer;
    transition:0.3s;
}

.start-btn:hover{
    transform:scale(1.05);
}